.vscode/
.idea/
*.code-workspace

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

*.jpg
*.jpeg
*.png
*.gif
*.pdf
*.mp4
*.mov
*.wav
*.mp3
*.svg
*.ico

*.db
*.sqlite

**/media/
**/Media/

Final/

.DS_Store
Thumbs.db
desktop.ini

*.zip
*.tar
*.gz
*.rar
*.7z
*.bak
*.tmp
