{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover table-bordered align-middle text-center">
        <thead>
            <tr>
                <th>Transaction</th>    
                <th>Symbol</th>
                <th>Name</th>
                <th>Purchase/Sale Price</th>
                <th>Shares</th>
                <th>Date/Time</th>
            </tr>
            
        </thead>
        <tbody>
        {% for row in history%}
            <tr>
                <td>{{ row.transaction }}</td>
                <td>{{ row.symbol }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}